.listing-thumbnail {
  height: 150px;
}

.listing-carousel {
  height: 500px;
}

.ListingList-topbar {
  display: flex;
  align-items: baseline;
  justify-content: center;
  /* margin-left: 5rem; */
}